<h2>
  <%= t ".title" %>
</h2>
<p>
  <%= t ".directions" %>
</p>
<% @manuscripts.each do |manuscript| %>
  <div>
    <h3>
      <%= link_to manuscript.title, beta_path(manuscript) %>
    </h3>
    <p><em>
      <%= "Draft #{manuscript.draft}" %> <br />
      <%= manuscript.created_at.to_s(:updated_time) %>
    </em><p>
    <p>
      <%= manuscript.description %>
    </p>
  </div>
<% end %>
