<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : (t "site.title") %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
        <%= link_to (t "home.link"), root_path %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </header>
      <% flash.each do |key, value| %>
        <p class="flash" id="<%= key %>">
          <%= value %></p>
      <% end %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <footer>
      <%= link_to_unless_current "English", locale: "en" %>
      <%= link_to_unless_current "Spanish", locale: "es" %>
      <%= link_to_unless_current "Filipino", locale: "ph" %>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
