<%= link_to (t "add.link"), new_manuscript_path %><br />
<%= link_to (t "browse.link"), manuscripts_path %><br />
<% if @requests.present? %>
  <%= link_to (t "requests.link"), "/requests" %>
<% end %>
<div id="yourManuscripts">
  <h2><%= t "author.title" %></h2>
  <% if @authored_books.present? %>
    <% @authored_books.each do |book| %>
      <p><%= link_to book.title, manuscript_path(book) %></p>
    <% end %>
  <% else %>
    <%= t "author.empty" %>
  <% end %>
</div>
<div id="betaManuscripts">
  <h2><%= t "beta.title" %></h2>
  <% if @beta_books.present? %>
    <% @beta_books.each do |beta| %>
      <% book = beta.manuscript %>
      <p><%= link_to book.title, manuscript_path(book) %></p>
    <% end %>
  <% else %>
    <%= t "beta.empty" %>
  <% end %>
</div>